@import "tailwindcss";

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f3f4f6;
    /* 모든 페이지의 배경색 지정  */
    /* #0a0a0a */
    --foreground: #000000;
    /* 모든 페이지의 컨텐츠 색(글자) 지정 */
    /* #ededed */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
